doctype html
html
    head
        title Asset Form
        style.
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            h1 {
                text-align: center;
            }
            form {
                max-width: 400px;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid #ccc;
                background-color: #b1dbf2;
                border-radius: 5px;
            }
            label {
                font-weight: bold;
                display: block;
                margin-bottom: 10px;
            }
            input[type="text"],
            input[type="email"],
            button[type="submit"] {
                width: 100%;
                padding: 8px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            button[type="submit"] {
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
            }
            button[type="submit"]:hover {
                background-color: #45a049;
            }

    body
        h1 Create Asset Category
        form(action='/submitAssetCategory' method='POST')
            label(for='assetCategoryType') Asset Category:
            input(type='text' id='assetCategoryType' name='assetCategoryType' required)
            button(type='submit') Submit
            a.btn.btn-primary(href='/assetCategoryList/') Category List
